/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}



/*Facebook colourings*/

@font-face {
  font-family:facebook;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23596/facebook-letter-faces.ttf);
}

.fb {
  font-family:facebook;
  font-size:15vmax;
  color:white;
}

.fb-text {
  font-family:facebook;
  font: 15px;
  color:white;
}

.fb .navbar {
  font-family:facebook;
  color:white;
}


.fb {
  text-align:center;
  line-height: calc(100vh - 50px);

  background: radial-gradient(ellipse at center, rgba(76,100,147,1) 0%,rgba(59,89,152,1) 100%);
  user-select:none;
  cursor:default;
}

.fb-container {
  width: 100%;
}


.sidebar-text {
  padding-left: 7px;
  padding-bottom: 5px;
}
/*
 * Global add-ons
 */




.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.content-area {
  width: 100%;
}

.pageWrapper {
  padding: 0px 20px 20px 20px;
}

.groupButtons {
  margin-top: 40px;
}

#button-submit {
  margin-left: 10px;
}

#input-picture {
  margin: 40px 0px 40px 0px;
  position: relative;
}

#input-picture::before {
  content: attr(label);
  position: absolute;
  top: -25px;
  left: 2px;
  font-weight: bold;
}



/* PATCH */
.special-container {
  display: block;
}

@media (min-width: 768px) {
  .sidebar {
    width: 20%;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 0px solid #eee;
  }

  .special-container {
    display: flex;
  }

}



/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background: radial-gradient(ellipse at center, rgba(76,100,147,1) 0%,rgba(59,89,152,1) 100%);
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .content-area {
    width: 80%;
  }

}


.main .page-header {
  margin-top: 0;
}




/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
